
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

.MuiButton-textPrimary{
  color: #002133 !important;
  color: white;
}
/* .MuiButtonBase-root:hover{
  color: white !important;
} */
.bg-white{
  background-color: white;
}
.bg-black{
  background: black;
}
.bg-orange-red{
  background-color: orangered;
}

.sparkle-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.sparkle-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.sparkle-btn:hover::before {
  animation: shine 0.9s ease forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
