
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

/* .MuiButton-textPrimary{
  color: #002133 !important;
  color: white;
} */
/* .MuiButtonBase-root:hover{
  color: white !important;
} */
.bg-white{
  background-color: white;
}
.bg-black{
  background: black;
}
.bg-orange-red{
  background-color: orangered;
}

.sparkle-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.sparkle-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
}

.sparkle-btn:hover::before {
  animation: shine 0.9s ease forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}
.gap-3 {
    gap: 0.5rem;
}
.leaflet-container {
  z-index: 1 !important;
}

.card-details {
  font-size: 0.9rem;
  color: #555;
}
.w-fit-content{
  width: fit-content;
      min-width: 250px;
}

/* Style for present days */
.present-day {
  background-color: lightgreen !important;
  color: #002133 !important;
}

/* Style for absent days */
.absent-day {
  background-color: lightcoral !important;
  color: #fff !important;
}
  
/* Style for holidays */
.holiday-day {
  color: #002133 !important;
}    
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px 6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
