
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

.MuiButtonBase-root{
  color: #002133 !important;
}
.MuiButtonBase-root:hover{
  color: white !important;
}